*{
	font-family:sans-serif;
}
.header{
	display:flex;
   overflow-y:sroll;
}
.logo{
	flex:1;
	background-color: lightblue;
}
.title{
	flex:6;
}

h1{
    text-align: center;
}
#mainimage{
    width:100%;
     
    align-items: center;
    padding: 10px;
  
}
.navigationbar li a{
     
    text-decoration:none;
	 
}
.navigationbar li{
	float:left;
    list-style-type:none;
	margin:20px 20px 20px 20px;
    display: inline;
    padding: 80px ;
	
}
 

 .navigationbar li a:hover{
    color:red;
	background-color:#474769;
	padding:10px;
	
}
 .navigationbar{
	 margin-left:500px;
 }
p{
    text-align: center;
	font-size:20px;
    
}

body{
    background-color: lightblue;
}
 

